body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightsteelblue;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

button {
  font-size: 2rem;
  margin-bottom: 10px;
}

span {
  font-size: 2rem;
  font-weight: bold;
}

#game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 10px auto;
}

#category-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#clue-board {
  flex-direction: column;
}

.clue-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: navy;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  flex: 1;
  text-transform: uppercase;
}

.clue-row {
  display: flex;
}

.category-box {
  font-size: .8rem;
  line-height: 25px;
}

.clicked-box {
  font-size: 1rem;
}